{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if profile %}

<div class="row">
    <div class="col-md-8">
    <h2 class="text-center text-primary ">{{ profile.user.username}}'s profile</h2>

<!--   Meep Stuff-->



         {% if meeps %}
        {% for meep in meeps %}
        <div class="row alert alert-primary">
            <div class="col-md-1">
                {% if profile.profile_image %}
               <img src="{{profile.profile_image.url}}" class="img-fluid rounded-start rounded-circle mt-3" width="50" height="50"   alt="...">
                    {% else %}
               <img src="{% static 'images/defaultProfile.jpg'  %}" class="img-fluid rounded-start" alt="...">
                {% endif %}
            </div>
            <div class="col-md-10">
                {{meep}}
            </div>
             <div class="col-md-1 text-center ">
                     {{meep.number_of_likes}}Likes-
                    {% if user in meep.likes.all %}
                    <a class="bi bi-heart " href="{% url 'meep_like' meep.id %}" style="color:red"></a>
                    {% else %}
                    <a class="bi bi-heart" href="{% url 'meep_like' meep.id %}" style="color:red"></a>
                    {% endif %}
                     <br>
                    <a href="{% url 'meep_show' meep.id %}" class="bi bi-share" style="color:blue"></a>

                </div>


        </div>


      {% endfor %}
      {% endif %}




    </div>


    <br>
    <br>

    <div class="col-md-4 mt-4 text-center ">
        {% if profile.profile_image %}
       <img src="{{profile.profile_image.url}}" height="150px" width="80%" class="mx-5 rounded-circle"  style="border:50%">
        <br>
        <br >
        {% else %}
              <img src="{% static 'images/defaultProfile.jpg'  %}" class="img-fluid rounded-circle mx-5 mb-2" alt="...">
        {% endif %}
            {% if profile.profile_bio %}
                    <p  class="text-center " style="color:grey" align="justify">{{ profile.profile_bio }} </p>
            {% endif %}

             {% if profile.linkedin_like %}
                 <a  href="{{profile.linkedin_like}}" target="new"  style="color:grey">
                     <i class="bi bi-linkedin mx-3 fs-4 mb-2 "></i>
                 </a>
              {% endif %}

             {% if profile.instagram_link %}
                <a class="text-center" href="{{ profile.instagram_link}}" target="new" style="color:grey">
                     <i class="bi bi-instagram mx-3 fs-4 mb-2" ></i>
                </a>
            {% endif %}

             {% if profile.facebook_link %}
              <a href="{{ profile.facebook_link }}" style="color:grey">
                 <i class="bi bi-facebook mx-3 fs-3 mb-2"></i>
              </a>
              {% endif %}
        <br>
        <br>


        <div class="card text-center">
            <h5 class="card-header">Fallows</h5>
            <div class="card-body">
               <p class="card-text">
                   <strong>Follows</strong><br>
                  {% for following in profile.fallows.all %}
                     <a href="{% url 'profile' following.user.id %}" > @{{following}}</a> <a href="{% url 'unfollow' following.user.id %}" class="text-danger bi bi-trash"></a><br>
                  {% endfor %}
                   <br>

               </p>


            </div>
        </div>
         <div class="card text-center mt-4">
            <h5 class="card-header">Fallowed By</h5>
            <div class="card-body">
               <p class="card-text">
                  {% for following in profile.fallowed_by.all.all|slice:3 %}
                     <a href="{% url 'profile' following.user.id %}" > @{{following}}</a>
                     {% if following in profile.fallows.all%}
                   <a href="{% url 'unfollow' following.user.id %}" class="text-danger bi bi-trash"></a>unfollow
                     {% else %}
                        <a href="{% url 'follow' following.user.id %}" class="text-success">fallow</a>
                   {% endif %}
                   <br>
                  {% endfor %}
                   <br>
                   <a href=" {% url 'followers' profile.user.id %}" >See All...</a>
               </p>
            </div>


        </div>


        <form method="post" class="text-center mt-2">
            {% csrf_token %}

            {% if  profile in request.user.profile.fallows.all %}
                <button class="btn btn-outline-danger " name="follow"  value="unfollow"  type="submit">
                    Unfollow@{{ profile.user.username|lower}}</button>

             {% else %}
                <button class="btn btn-outline-success" name="follow"  value="follow"  type="submit">
                    Follow  @{{ profile.user.username|lower}}</button>

            {% endif %}
            {%  if request.user.id == profile.user.id %}
                   <br>
                    <button class="btn btn-outline-primary  mt-2 " >
                    <a class="nav-link" href="{% url 'update_user' %}">Update Profile</a>
                    </button>
                    {% endif %}
        </form>
        <br>

      </div>
        <br>




      </div>
{% endif %}

{% endblock %}