{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if profile %}

<div class="row">
    <div class="col-md-8">
    <h2 class="text-center text-primary ">{{ profile.user.username}}'s profile</h2>

<!--   Meep Stuff-->



         {% if meeps %}
        {% for meep in meeps %}
        <div class="row alert alert-primary">
            <div class="col-md-3">
                {% if profile.profile_image %}
               <img src="{{profile.profile_image.url}}" class="img-fluid rounded-start rounded-circle mt-3" width="50" height="50"   alt="...">
                    {% else %}
               <img src="{% static 'images/defaultProfile.jpg'  %}" class="img-fluid rounded-start" alt="...">
                {% endif %}
            </div>
            <div class="col-md-9">
                {{meep}}
            </div>
        </div>

      {% endfor %}
      {% endif %}




    </div>


    <br>
    <br>

    <div class="col-md-4 mt-4">
        {% if profile.profile_image %}
       <img src="{{profile.profile_image.url}}" height="150px" width="80%" class="mx-5 rounded-circle"  style="border:50%">
        <br>
        <br >
        {% else %}
              <img src="{% static 'images/defaultProfile.jpg'  %}" class="img-fluid rounded-circle mx-5 mb-2" alt="...">
        {% endif %}
        <div class="card text-center">
            <h5 class="card-header">Fallows</h5>
            <div class="card-body">
               <p class="card-text">
                   <strong>Follows</strong><br>
                  {% for following in profile.fallows.all %}
                     <a href="{% url 'profile' following.user.id %}" > @{{following}}</a><br>
                  {% endfor %}
               </p>


            </div>
        </div>
         <div class="card text-center mt-4">
            <h5 class="card-header">Fallowed By</h5>
            <div class="card-body">
               <p class="card-text">
                  {% for following in profile.fallowed_by.all %}
                     <a href="{% url 'profile' following.user.id %}" > @{{following}}</a><br>
                  {% endfor %}
               </p>
            </div>


        </div>


        <form method="post" class="text-center mt-2">
            {% csrf_token %}

            {% if  profile in request.user.profile.fallows.all %}
                <button class="btn btn-outline-danger" name="follow"  value="unfollow"  type="submit">
                    Unfollow@{{ profile.user.username|lower}}</button>

             {% else %}
                <button class="btn btn-outline-success" name="follow"  value="follow"  type="submit">
                    Follow  @{{ profile.user.username|lower}}</button>

            {% endif %}
            {%  if request.user.id == profile.user.id %}
                   <br>
                    <button class="btn btn-outline-primary  mt-2 " >
                  <a class="nav-link" href="{% url 'update_user' %}">Update Profile</a>
                   </button>
                    {% endif %}

        </form>
        <br>

      </div>
        <br>




      </div>
{% endif %}

{% endblock %}