{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid text-center row">
    <div class="col-8">
        <h2> Meeps!</h2>

            <div class="alert alert-primary row" role="alert">
               <div class="col-md-1">
                    {% if meep.user.profile.profile_image %}
                   <img src="{{meep.user.profile.profile_image.url}}" class="img-fluid rounded-start  mt-3" width="50" height="50"   alt="...">
                        {% else %}
                   <img src="{% static 'images/defaultProfile.jpg'  %}" class="img-fluid rounded-start rounded-circle" alt="..." width="50" height="50">
                    {% endif %}
               </div>
                <div class="col-md-10">
                    {{meep.body}}
                    <br>
                    <small>{{meep.user}}</small>
                    <small>{{meep.created_at}}</small>
                </div>
                <div class="col-md-1 text-center ">
                     {{meep.number_of_likes}}Likes-
                    {% if user in meep.likes.all %}
                    <a class="bi bi-heart bg-danger" href="{% url 'meep_like' meep.id %}" style="color:red"></a>
                    {% else %}
                    <a class="bi bi-heart" href="{% url 'meep_like' meep.id %}" style="color:red"></a>
                    {% endif %}

                    <a href="{% url 'meep_show' meep.id %}" class="bi bi-share" style="color:blue"></a>

                </div>


            </div>

    </div>
</div>

{% endblock %}

